body {
  margin: 0;
  font-family: 'Play', sans-serif;
  padding-bottom: 70px;
}

h1 {
  margin: 0;
  padding: 20px 0 10px 0;
}

h3 {
  margin: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

/* Top area */
.top {
  width: 100%;
  height: 120px;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  color: white;
  z-index: 5000;
}

.top #tacocat-logo {
  border: 1px solid white;
  background-color: white;
  height: 50%;
  position: relative;
  top: 25%;
  }

.top #tacocat-comp {
  font-size: 200%;
  position: relative;
  top: 10%;
  left: 20px;
}

/* Top Navigation */

.social-links {
  float: right;
  display: inline;
  padding: 20px;
  margin-right: 20px;
  padding-bottom: 0;
}

.social-links i,
.social-links a:visited,
.social-links a:active {
  color: white;
  font-size: 100%;
  padding: 10px;
}

.topnav {
  position: absolute;
  right: 0;
  bottom: 0;
}

.topnav i {
  font-size: 80%;
  margin-left: 5px;
}

.topnav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topnav ul li {
  padding-bottom: 25px;
  width: 170px;
}

.menu-item_category {
  display: inline-block;
  text-align: center;
}

.menu-item_category:hover .nav_second {
  display: block;
}

.topnav a {
  color: white;
  font-size: 120%;
  text-decoration: none;
}

.nav_second {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  background-color: rgba(0,0,0,0.8);
}

ul.nav_second a li {
  margin-top: 10px;
}

/* Header */
.header-container {
  max-height: 600px;
  position: relative;
  top: 0;
  padding: 10% 0 5% 30%;
}

.header-container.home {
  background-image: url("images/header.jpg");
}

.header-container.home > div {
  display: inline-block;
}

.show-tab {
  color: black;
  font-size: 110%;
  background-color: rgba(255,255,255,0.85);
  vertical-align: top;
  margin-left: 20px;
  height: 273px;
  width: 400px;
}

.header-container.home > div.hide {
  display: none;
}

.show-tab div {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-to-content {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  color: black;
  background-color: lightgrey;
  border: 1px solid grey;
  text-decoration: none;
}

.go-to-content:hover {
  background-color: darkgrey;
}

.header-tabs p {
  color: white;
  background-color: black;
  font-size: 150%;
  padding: 10px;
  margin: 0;
  margin-bottom: 7px;
}

.header-tabs p:last-of-type {
  margin-bottom: 0;
}

.header-tabs p:hover {
  background-color: orange;
}

/* Content */
.content-noheader {
  padding-top: 120px;
}

/* Slider */
#slider {
  border: 1px solid black;
  margin: 0 auto;
  width: 700px;
  height: 230px;

  overflow: hidden;
}

.slides {
  display: block;
  width: 6000px;
  height: 230px;
  padding: 0;
  margin: 0;
}

.slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 230px;
}

.slide img {
  height: 100%;
  width: 100%;
  z-index: -1000;
}

.slide_description {
  line-height: 140%;
  text-align: center;
  margin-top: -100px;
  font-size: 33px;
  color: #ffffff;
}

.slide_description span {
  background-color: black;
  padding: 0 5px;
}

.slide_description span.right {
  margin-left: 150px;
}

/* Main Page Content */
.landing-content {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
}

.content-block {
  max-width: 28%;
}

.landing-content i {
  font-size: 30px;
}

/* contact form */
#contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-form h1 {
  text-align: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin-top: 15px;
}

.input-field.full {
  width: 98%;
}

.input-field.full textarea {
  width: 100%;
}

#contact-form button {
  margin-top: 30px;
  width: 98%;
  padding: 8px;
}

#contact-form input {
  padding: 4px;
}

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0,19,105,0.8);
}

.footer-items {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-items a,
.footer-items span {
  color: white;
  font-size: 120%;
}

#footer li {
  list-style-type: none;
}
